body {
    font-family: 'Poppins', sans-serif;
}

form {
    display: inline;
}

.form-container {
    padding-top: 5px;
    text-align: center;
}

input[type=submit]{
    background-color: #094575;
    border: none;
    color: white;
    padding: 10px 32px;
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
    font-weight: bold;
}
input[type=number]{
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    background-color: #c8dff3;
    color:black;
}

/* distance between columns */
.column1 {
    width: 10%;
}

.column2 {
    width: 10%;
}

.column3 {
    width: 3%;
}

.table-container {
    padding-top: 3%;
    padding-bottom: 5%;
}

/* table */
#temp-table {
    width: 50%;
    margin: auto;
    border-radius: 10px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.12);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.12);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.12);
}

#temp-table th {
    background-color: #63AFFE;
}

#temp-table tr {
    text-align: center;
    background-color: #fff;
}

#temp-table tr:hover {
    background-color:#f0f0f0;
}

#temp-table tr:nth-child(even) {
    background-color:#f8f8ff;
}