/* heading */ 
h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

img {
    height: 100px;
}

/* contents */
canvas {
    background: #000;
    display: block;
    margin: 0 auto;
}